@font-face {
font-family: Robotron;
src: url(Robotron.ttf) format('truetype');
}

.broken {
 background-color: #ff0000;
}

.good {
 background-color: #00aa00;
}

.unkown {
 background-color: black;
}


.scoretile {
 text-align: center;
 font-family:Robotron;
 position:absolute;
 border: 1px solid black;
}


.scoretile div {
 position:absolute;
}

.title {
 background-color: black;
 color: white;
}

.pegs{
 background-color: black;
 color: white;
}

.peg {
 color: white;
 border: 1px solid white; 
 position:absolute;
}

.score {
 color: black;
 z-index: -1;
}

.status {
 background-color: black;
 color: white;
}
.since {
 background-color: white;
 color: black;
}